.flex-box {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-grow {
    flex-grow: 1 !important;
}

.height-100 {
    min-height: 100%;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-around {
    justify-content: space-around;
}