extends layout

block content
    .w3-row.flex-box
        .w3-quarter.flex-box.flex-center.w3-blue-grey.full-height-div
            a.w3-button.w3-round.w3-grey.w3-margin.w3-padding.w3-center(href="/") Voltar
        
        header.w3-half.w3-container.w3-blue-grey.w3-center
            h3= title

        .w3-quarter.flex-box.flex-center.w3-blue-grey.full-height-div

    main.w3-margin.w3-padding
        form(method="POST" action="/add" enctype="application/x-www-form-urlencoded")
            fieldset
                legend Simple
                
                label Id
                input.w3-border.w3-input.w3-round(type="text" name="_id")
                br

                label Nome
                input.w3-border.w3-input.w3-round(type="text" name="nome")
                br

                label Idade
                input.w3-border.w3-input.w3-round(type="text" name="idade")
                br

                label Sexo
                input.w3-border.w3-input.w3-round(type="text" name="sexo")
                br

                label Profissão
                input.w3-border.w3-input.w3-round(type="text" name="profissao")
                br

                label Marca Carro
                input.w3-border.w3-input.w3-round(type="text" name="marca_carro")
                br

                label Religião
                input.w3-border.w3-input.w3-round(type="text" name="religiao")
                br

            fieldset
                legend Morada
                
                label Cidade
                input.w3-border.w3-input.w3-round(type="text" name="cidade")
                br

                label Distrito
                input.w3-border.w3-input.w3-round(type="text" name="distrito")
                br

            fieldset
                legend Political Partical
                
                label Abreviação
                input.w3-border.w3-input.w3-round(type="text" name="party_abbr")
                br

                label Nome
                input.w3-border.w3-input.w3-round(type="text" name="party_name")
                br

            fieldset
                legend Atributs
                
                label Fumador
                input.w3-border.w3-margin.w3-padding(type="checkbox" value="1" name="fumador")
                br

                label Gosta Cinema
                input.w3-border.w3-margin.w3-padding(type="checkbox" value="1" name="gosta_cinema")
                br

                label Gosta Viajar
                input.w3-border.w3-margin.w3-padding(type="checkbox" value="1" name="gosta_viajar")
                br

                label Acorda Cedo
                input.w3-border.w3-margin.w3-padding(type="checkbox" value="1" name="acorda_cedo")
                br

                label Gosta Ler
                input.w3-border.w3-margin.w3-padding(type="checkbox" value="1" name="gosta_ler")
                br

                label Gosta Musica
                input.w3-border.w3-margin.w3-padding(type="checkbox" value="1" name="gosta_musica")
                br

                label Gosta Comer
                input.w3-border.w3-margin.w3-padding(type="checkbox" value="1" name="gosta_comer")
                br

                label Gosta Animais Estimação
                input.w3-border.w3-margin.w3-padding(type="checkbox" value="1" name="gosta_animais_estimacao")
                br

                label Gosta Dancar
                input.w3-border.w3-margin.w3-padding(type="checkbox" value="1" name="gosta_dancar")
                br

                label Comida Favorita
                input.w3-border.w3-input.w3-round(type="text" name="comida_favorita")
                br

            fieldset
                legend Descrição

                .flex-box.flex-column
                    input.w3-border.w3-input.w3-round(type="text" id="descrição" name="descricao")
                br

            fieldset 
                legend Desportos

                .flex-box
                    .flex-box.flex-column.width-100.w3-margin(id="desportos")

                    .flex-box
                        button.height-50px.width-50px.w3-margin.w3-button.w3-round.w3-blue-grey(id="addDesporto") +
                        button.height-50px.width-50px.w3-margin.w3-button.w3-round.w3-blue-grey(id="removeDesporto") -

            fieldset 
                legend Animais 

                .flex-box 
                    .flex-box.flex-column.width-100.w3-margin(id="animais")

                    .flex-box
                        button.height-50px.width-50px.w3-margin.w3-button.w3-round.w3-blue-grey(id="addAnimal") +
                        button.height-50px.width-50px.w3-margin.w3-button.w3-round.w3-blue-grey(id="removeAnimal") -

            fieldset 
                legend Figura Pública

                .flex-box 
                    .flex-box.flex-column.width-100.w3-margin(id="figuras_publicas")

                    .flex-box
                        button.height-50px.width-50px.w3-margin.w3-button.w3-round.w3-blue-grey(id="addFiguraPublica") +
                        button.height-50px.width-50px.w3-margin.w3-button.w3-round.w3-blue-grey(id="removeFiguraPublica") -

            fieldset 
                legend Destinos Favoritos

                .flex-box 
                    .flex-box.flex-column.width-100.w3-margin(id="destinos_favoritos")

                    .flex-box
                        button.height-50px.width-50px.w3-margin.w3-button.w3-round.w3-blue-grey(id="addDestinoFavorito") +
                        button.height-50px.width-50px.w3-margin.w3-button.w3-round.w3-blue-grey(id="removeDestinoFavorito") -

                

            .w3-margin.w3-padding.flex-box.space-evenly
                a.w3-button.w3-round.w3-blue-grey(href="/") Cancelar
                button.w3-button.w3-round.w3-blue-grey(type="submit") Guardar Alterações

    footer.w3-container.w3-blue-grey
        h5 Generated by FichaAferição::EngWeb2024::A100695 

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js") 
    script(src="/javascripts/form_manipulation.js")